:root {
    --bg-color: #87CEEB;
    --txt-color: #708090;
    --border-color: rgb(203, 231, 255);
    --sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: Roboto-black;
    src: url('fonts/Roboto-Light.ttf');
}

body {
    font-family: Roboto-black;
    color: var(--txt-color);
    background-color: rgb(252, 252, 252);
    margin: 0;
    padding: 0;
    border: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.boton {
    list-style: none;
    list-style-position: inside;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--bg-color);
    border-color: var(--border-color);
    color: var(--txt-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    margin: 2px;
}

.boton:hover {
    background-color: #F0F8FF;
}

#entradaGauss {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

#Tabla {
    background-color: var(--bg-color);
}

#Tabla td input[type=number] {
    width: 30px;
    padding: 5px;
}

#menu {
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    box-shadow: var(--sombra);
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#main {
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    box-shadow: var(--sombra);
}

.titulo {
    background-color: var(--bg-color);
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 30vw;
    text-align: right;
    text-shadow: var(--sombra);
    box-shadow: var(--sombra);
    border-color: var(--border-color);
    border-right-width: 20px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-style: solid;
}

#header {
    text-align: center;
}

#header,
#footer {
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}